* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #f2f2f2;
}

ul,
ol {
  list-style: none;
}

.container {
  max-width: 1250px;
  margin: auto;
}

.users {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 20px;
  padding: 10px 0;
}

.item {
  width: 400px;
  
}

.users .item ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.users .item ul li {
  padding: 8px 16px;
}

/* .users .item ul li:hover {
  background-color: #ccc;
} */

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #00000050;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
  display: none;
}

.modal_active {
  display: flex;
}

.modal_container {
  position: relative;
  background-color: #fff;
  max-width: 576px;
  height: 400px;
  margin: 0 auto;
  
  width: 100%;
}

.modal_content {
  position: absolute;
  top: 20px;
  left: 20px;
}

.modal_content > ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.modal_close {
  position: absolute;
  top: 5px;
  right: 10px;
  
  cursor: pointer;
 
  font-size: 35px;
  font-weight: 400;
 
}








